{% extends 'base.html' %}

{% block title %}
Checkout - ShopSphere
{% endblock %}

{% block content %}

<section class="section checkout-page">

    <div class="section-heading">
        <div>
            <p class="section-small">SHOPSPHERE</p>
            <h2>Secure Checkout</h2>
        </div>
    </div>

    <div class="checkout-layout">

        <div class="checkout-form-card">

            <p class="section-small">ORDER DETAILS</p>

            <h3>Payment Method</h3>

            <form method="POST">
                {% csrf_token %}

                <label for="payment_method">
                    Select Payment Method
                </label>

                <select id="payment_method" name="payment_method" required>
                    <option value="COD">Cash on Delivery</option>
                    <option value="UPI">UPI</option>
                    <option value="Card">Credit / Debit Card</option>
                </select>

                <button type="submit" class="primary-btn checkout-submit">
                    Place Order →
                </button>

            </form>

        </div>


        <aside class="checkout-summary">

            <p class="section-small">YOUR ORDER</p>

            <h3>Order Summary</h3>

            {% for item in cart_items %}

            <div class="checkout-item">

                <div>
                    <strong>{{ item.product.name }}</strong>
                    <p>Quantity: {{ item.quantity }}</p>
                </div>

                <strong>
                    ₹{{ item.product.price }}
                </strong>

            </div>

            {% endfor %}

            <div class="checkout-total">
                <span>Total</span>
                <strong>₹{{ total }}</strong>
            </div>

        </aside>

    </div>

</section>

{% endblock %}