{% extends 'base.html' %}

{% block title %}
Order Successful - ShopSphere
{% endblock %}

{% block content %}

<section class="success-section">

    <div class="success-card">

        <div class="success-icon">
            ✓
        </div>

        <p class="section-small">SHOPSPHERE</p>

        <h1>Order Placed Successfully!</h1>

        <p class="success-message">
            Thank you for shopping with ShopSphere.
            Your order has been confirmed.
        </p>

        <div class="order-info">

            <div>
                <span>Order ID</span>
                <strong>#{{ order.id }}</strong>
            </div>

            <div>
                <span>Total Amount</span>
                <strong>₹{{ order.total_price }}</strong>
            </div>

            <div>
                <span>Status</span>
                <strong>{{ order.status }}</strong>
            </div>

        </div>

        <div class="success-actions">

            <a
                href="{% url 'orders' %}"
                class="primary-btn"
            >
                View My Orders
            </a>

            <a
                href="{% url 'products' %}"
                class="continue-link"
            >
                Continue Shopping
            </a>

        </div>

    </div>

</section>

{% endblock %}